@model ConectaCafe.Models.Avaliacao
@{
    ViewData["Title"] = "Avaliação";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-warning shadow-dark border-radius-lg pt-4 pb-3">
                    <h5 class="text-white text-capitalize ps-3 mb-0">@ViewData["Title"]</h5>
                    <h6 class="text-white text-capitalize ps-3">Alterar</h6>
                </div>
            </div>
            <div class="card-body pb-2">
                <form asp-action="Edit" class="row" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id">
                    <div class="col-lg-8 col-md-9">
                        <div class="col-12 mb-3">
                            <div class="input-group input-group-outline mb-1">
                                <label asp-for="Pessoa" class="form-label"></label>
                                <input asp-for="Pessoa" class="form-control" />
                            </div>
                            <span asp-validation-for="Pessoa" class="text-danger text-sm"></span>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="input-group input-group-outline mb-1">
                                <label asp-for="Texto" class="form-label"></label>
                                <textarea asp-for="Texto" class="form-control" rows="3"></textarea>
                            </div>
                            <span asp-validation-for="Texto" class="text-danger text-sm"></span>
                        </div>
                        <div class="row">
                            <div class="col-8 mb-3">
                                <div class="input-group input-group-outline mb-1">
                                    <label asp-for="Nota" class="form-label"></label>
                                    <input asp-for="Nota" class="form-control" />
                                </div>
                                <span asp-validation-for="Nota" class="text-danger text-sm"></span>
                            </div>
                            <div class="col-4 mb-3">
                                <div class="input-group input-group-outline mb-1">
                                    <label asp-for="DataAvaliacao" class="form-label"></label>
                                    <input asp-for="DataAvaliacao" class="form-control" />
                                </div>
                                <span asp-validation-for="DataAvaliacao" class="text-danger text-sm"></span>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-3 d-flex justify-content-center">
                        <img id="Preview" src='@(Model.Foto ?? Url.Content("~/img/sem-foto.jfif"))' class="w-75" alt="Foto" onclick="changeImage()">
                        <input type="hidden" asp-for="Foto">
                        <input type="file" id="Arquivo" name="Arquivo" accept=".jpg,.jpeg,.png,.gif,.jfif" hidden>
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="Salvar" class="btn btn-success me-3" />
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function changeImage() {
            document.querySelector("input[type='file']").click();
        }
        window.addEventListener('load', function () {
            document.querySelector("input[type='file']")
                .addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        var img = document.getElementById("Preview");
                        img.src = URL.createObjectURL(this.files[0]);
                    }
                });
        })
    </script>
}






<h1>Edit</h1>

<h4>Avaliacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Pessoa" class="control-label"></label>
                <input asp-for="Pessoa" class="form-control" />
                <span asp-validation-for="Pessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAvaliacao" class="control-label"></label>
                <input asp-for="DataAvaliacao" class="form-control" />
                <span asp-validation-for="DataAvaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

